*{
    scroll-behavior: smooth !important;
    text-decoration: none;
}
.latest-box{
    padding: 15px;
    background: #dadada;
    transition: all 0.5s;
    border-radius: 10px;
}

.latest-box:hover{
    background: #a5a4a4;
    overflow: hidden;
}
.latest-box .latest-img{
     border-radius: 10px;
}
.latest-box:hover .img-fluid{
    transform: translateY(-5px);
}

.latest-text button{
    margin-top: 15px;
}
.latest-text h5 {
    font-size: 20px;
}
.latest-text p {
    font-size: 16px;
    line-height: 23px;
}
.footer-up-links li{
    color: rgb(0, 0, 0);
    margin: 8px auto;
    transition: all 0.4s;
}
.footer-up-links li:hover{
    transform: translateX(-5px) scale(1.01);
    border-bottom: 1px solid #21263d;
    color: #21263d;
}
.footer-middle h6{
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 15px;
}
.footer-middle li {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 25px;
    margin-left: 18px;
}
.footer-middle li:hover{
    transform: translateX(-3px);
    color: #5ec8f2;
}
.footer-middle .faculty-list-1{
    width: 50%;
}
.it-header-2-plr{
    background: transparent !important;
    position: relative;
}
.header-sticky{
    background: rgba(224, 223, 223, 0.736) !important;
    backdrop-filter: blur(5px) !important;
    border-bottom: 1px solid grey;
    /* overflow: hidden; */
}
.it-header-2-main-menu li a{
    font-size: 13px !important;
}
.it-menu-content ul{
    margin: 0 !important;
}
.it-breadcrumb-area{
    margin-top:150px ;
}
.submenu{
    background: rgb(255, 255, 255) !important;
    backdrop-filter: blur(5px) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    border-top: 3px solid #1f139f !important;
}
.submenu li a{
    color: black !important;
}
.faculty-info{
    padding-top: 5vmin;
}
.faculty-img{
    overflow: hidden;
    border-radius: 10px;
}
.faculty-img:hover img{
    transform: scale(1.05);
}
.test-card{
    background: #c9c9ca;
    position: relative;
    border: 1px solid grey;
    margin-top: 40px;
}
.test-img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}
.test-img img{
    width: 80px !important;
    box-shadow: 0 0 5px black;
}
.test-name h6{
    margin-top: 60px;
    font-size: 20px;
}
.test-text{
    padding: 10px 20px;
}
.test-text small{
    font-size: 14px;
}
.placement{
    margin-top: 140px;
}
.record-box{
    padding: 20px 15px;
    background: #181b2a;
    border-radius: 20px;
    transition: all 0.5s;
}
.record-box:hover{
    background: #1b2037;
    transform: translateY(-4px);
}
.record-box .icon-box{
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(0, 179, 255);
}
.record-box .icon-box i{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 35px;
    border: 2px solid rgb(226, 226, 227);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
}
.record-box:hover .icon-box i{
    box-shadow: 0 0 15px rgb(61, 61, 148);
}
.record-box .icon-box h4{
    font-size: 20px;
    color: white;
}
.record-box .record-text p{
    color: white;
    font-size: 13px !important;
}
.record-box .record-text i{
    margin-right: 7px;
}
.marquee .img-fluid{
    max-width: 170px ;
    margin: 10px 30px;
}


@media screen and (max-width: 768px) {
    .latest-text h5 {
        font-size: 17px;
    }
    .latest-text p {
        font-size: 12px;
    }
    .footer-logo{
        justify-content: center;
    }
    .footer-up-links li{
        font-size: 13px;
    }
    .footer-middle .faculty-list-1{
        width: 100%;
    }
    
}