@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=DM+Serif+Display:ital@0;1&family=Playwrite+AU+QLD:wght@100..400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Lilita+One&family=Poppins:wght@400;700&family=Raleway:wght@700&display=swap');

* {
    scroll-behavior: initial !important;
    text-decoration: none;
}

body {
    background: #fff;
    font-family: Poppins !important;
}

:root {
    --web-color: #054B81;
    --web-orange: #EC691F;
    --web-grey-white: #f2f2f2;
    --web-white: #fff;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Open Sans" !important;
    font-weight: 900 !important;
    color: #000 !important;
}

h2 {
    font-family: "Open Sans" !important;
    color: #000 !important;
    font-size: 32px;
}

h3 {
    font-size: 28px;
    font-family: "Open Sans" !important;
    color: #000 !important;
}

h4 {
    font-size: 24px;
}

h5 {
    color: #000 !important;
    font-size: 20px;
}

h6 {
    color: #000 !important;
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    text-align: justify !important;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 28px !important;
    }

    h3 {
        font-size: 23px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 18px !important;
    }

    h6 {
        font-size: 15px !important;
    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    p {
        font-weight: 400;
        font-size: 14px !important;
        line-height: 22px !important;
    }
}

.it-header-2-main-menu ul li>.submenu.has-megamenu {
    left: -350px !important;
    width: 700px !important;
    padding-left: 25px !important;
}

.three h1 {
    text-transform: uppercase !important;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    color: #000 !important;
}

.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 10%;
    background-color: #111;
}

.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 40%;
    /* max-width: 255px; */
    background-color: #333;
}

.three h4 {
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    color: #000 !important;
    font-family: 'Open-Sans';
    text-transform: uppercase;
}

.three h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 10%;
    background-color: #111;
}

.three h4:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 40%;
    /* max-width: 255px; */
    background-color: #333;
}

.eight h1 {
    font-family: 'Open-Sans';
    color: #000 !important;
    text-align: center;

    text-transform: uppercase !important;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}

.eight h1:after,
.eight h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
}

.one h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase !important;
    padding-bottom: 5px;
    font-family: 'Open-Sans';
}

.one h1:before {
    width: 7%;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000;
}

.one h1:after {
    width: 25%;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000;
}

.one h4 {
    position: relative;
    text-align: center;
    text-transform: uppercase !important;
    padding-bottom: 5px;
    font-family: 'Open-Sans' !important;

}

.one h4:before {
    width: 7%;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000;
}

.one h4:after {
    width: 25%;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000;
}

/* table */

.rwd-table {
    border: 1px solid #000 !important;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: var(--web-color);
    color: #fff;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #f4f8fc;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: auto;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    overflow: hidden;
}



.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

/* selection */
::-moz-selection {
    /* Code for Firefox */
    color: var(--web-grey-white) !important;
    background: var(--web-orange) !important;
}

::selection {
    color: var(--web-grey-white) !important;
    background: var(--web-orange) !important;
}

/* scroll top */
.scroll-top {
    background: var(--web-orange) !important;
}

/* hover btn */

.hover-btn .text-div {
    height: 20px !important;
    overflow: hidden;
}

.hover-btn {
    padding: 8px 16px !important;
    overflow: hidden;
    background: var(--web-orange) !important;
}


.hover-btn small {
    display: block;
    font-size: 20px;
    line-height: 20px !important;
    margin: 0;
    transition: all 0.5s;
    line-height: 12px;
    color: var(--web-grey-white);
}

.hover-btn:hover small {
    transform: translateY(-100%) !important;
    color: var(--web-white) !important;
}


/* .shopcategory-loadmore button{
    padding:12px 20px !important;
    border: 0 !important;
    background: var(--web-color) !important;
}
.shopcategory-loadmore button .text-div{
    overflow: hidden !important;
    height: 20px !important;
}
.shopcategory-loadmore button .text-div p{
    font-size: 20px !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
    margin: 0 !important;
    transition: all 0.5s !important;
    color: var(--web-grey-white) !important;
}
.shopcategory-loadmore button:hover .text-div p{
    transform: translateY(-100%) !important;
    color: rgb(255, 255, 255) !important;
}
.dec-p{
    text-decoration: underline !important;
    color: black !important;
    font-weight: 600 !important;
} */

.it-header-2-bar button {
    background: var(--web-color) !important;
}

.line {
    height: 2px;
    width: 100%;
    background: var(--web-color);
}

.hero-section {
    z-index: 1;
    position: relative;
}

.it-header-transparent {
    background: #fff;
}

.hero-img {
    position: relative;
    overflow: hidden;
}

.hero-img video {
    width: 100vw !important;
}

.hero-img::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(#0000004c, #00000093);
}

.hero-text {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 70%;
}

@media screen and (max-width:768px) {
    .hero-text {
        top: 60% !important;
        left: 50%;
        bottom: initial !important;
        transform: translate(-50%, -60%) !important;
        width: 95%;
    }

    .hero-img video {
        width: 100vw !important;
        height: 275px;
        margin-top: 28px;
    }


}

.hero-text h1 {
    font-size: 4vw;
    color: #fff !important;
    font-family: 'Poppins' !important;
}

.hero-text h1 span {
    color: var(--web-white);
}

.hero-text p {
    color: var(--web-white);
}

.hero-text-animation {
    position: relative;
    display: inline-block;
}

.hero-text-animation::before {
    position: absolute;
    content: attr(data-text);
    left: 0;
    top: 0;
    height: 0;
    color: var(--web-grey-white);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0);
}

.hero-text-animation:hover::before {
    height: 100%;
}

.best-carousel {
    border-radius: 15px;
    overflow: hidden;
}



.best-university-heading h1 {
    font-family: Oswald !important;
}

.best-university-heading h1 span {
    color: var(--web-orange) !important;
}

.best-university {
    position: relative;
    z-index: 2;
    background: #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -6vmax;
    padding: 5vmax 4vmax !important;
    border-bottom-left-radius: 6vmax;
    border-bottom-right-radius: 6vmax;
}

.best-university .row {
    padding: auto 100px;
}

.best-university-text p {
    text-align: justify;
    color: #000;
}

.student-club {
    background: #eeeeee;
    border-top-left-radius: 6vmax;
    border-top-right-radius: 6vmax;
}

.student-club-image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.student-club-image img {
    min-height: 220px;
}

.student-club-image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(#0000000d, #00000049);
}

.student-club-main {
    padding: 3vmax;
}

.student-club-btn {
    margin-top: 30px;
}

/* .student-club-btn button {
    border-radius: 10px;
    color: var(--web-white);
    padding: 4px 12px;
    background: var(--web-orange);
} */

.student-club-info {
    position: relative;
}

@media screen and (max-width:768px) {
    /* .student-club-text {
        position: absolute;
        bottom: 5%;
        padding: 0 2vmax;
        opacity: 1 !important;
        transition: all 0.4s;
    } */
}

/* .student-club-info:hover .student-club-text {
    opacity: 1;
} */


/* 
.student-club-text h4 {
    color: var(--web-orange);
}

.student-club-text p {
    color: var(--web-grey-white);
} */


.latest-box {
    padding: 20px;
    background: var(--web-grey-white);
    transition: all 0.5s;
}

.latest-box:hover {
    background: #dadada;
    overflow: hidden;
}

.latest-box .latest-img {
    border-radius: 10px;
}

.latest-box:hover .img-fluid {
    transform: translateY(-5px);
}

.latest-text button {
    margin-top: 15px;
}

.latest-text h5 {
    font-size: 20px;
}

.latest-text p {
    font-size: 16px;
    line-height: 23px;
}

.footer-up-links li {
    color: rgb(0, 0, 0);
    margin: 8px auto;
    transition: all 0.4s;
}

.footer-up-links li:hover {
    transform: translateX(-5px) scale(1.01);
    border-bottom: 1px solid var(--web-color);
    color: var(--web-color);
}

.footer-middle h6 {
    font-size: 20px;
    margin-bottom: 7px;
    margin-top: 15px;
}

.footer-middle li {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 25px;
    margin-left: 18px;
}

.footer-middle li:hover {
    transform: translateX(-3px);
    color: var(--web-orange);
}

.footer-middle .faculty-list-1 {
    width: 50%;
}

.it-header-2-plr {
    background: transparent !important;
    position: relative;
}

.header-sticky {
    background: rgba(241, 241, 241, 0.736) !important;
    backdrop-filter: blur(7px) !important;
    border-bottom: 1px solid grey;
    /* overflow: hidden; */
}

.it-header-2-main-menu li a {
    font-size: 13px !important;
}

.it-menu-content ul {
    margin: 0 !important;
}

.it-breadcrumb-area {
    margin-top: 75px;
}

.submenu {
    background: rgb(255, 255, 255) !important;
    backdrop-filter: blur(5px) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid var(--web-color) !important;
}

.submenu li a {
    color: black !important;
}

.faculty-info {
    padding-top: 5vmin;
    background-color: #EDEDED;
}

.faculty-img {
    overflow: hidden;
    border-radius: 10px;
}

.faculty-img:hover img {
    transform: scale(1.05);
}

.test-card {
    background: #c9c9ca;
    position: relative;
    border: 1px solid grey;
    margin-top: 40px;
}

.test-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.test-img img {
    width: 80px !important;
    box-shadow: 0 0 5px black;
}

.test-name h6 {
    margin-top: 60px;
    font-size: 20px;
}

.test-text {
    padding: 10px 20px;
}

.test-text small {
    font-size: 14px;
}

.placement {
    margin-top: 75px;
}

.training-img {
    border: 2px solid grey;
    overflow: hidden;
    border-radius: 12px;
}

.training-text p {
    text-align: justify !important;
}

.record-box {
    padding: 20px 15px;
    background: var(--web-orange);
    border-radius: 20px;
    transition: all 0.5s;
}

.record-box:hover {
    background: var(--web-color);
    transform: translateY(-4px);
}

.record-box .icon-box {
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(151, 151, 151);
}

.record-box .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border: 2px solid rgb(226, 226, 227);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
}

.record-box:hover .icon-box i {
    box-shadow: 0 0 15px var(--web-orange);
}

.record-box .icon-box h4 {
    font-size: 20px;
    color: white;
}

.record-box .record-text p {
    color: white;
    font-size: 13px !important;
}

.record-box .record-text i {
    margin-right: 7px;
}

.marquee .img-fluid {
    max-width: 170px;
    margin: 10px 30px;
}

.faculty-carousel .owl-dots {
    display: block !important;
}



@media screen and (max-width: 768px) {
    .latest-text h5 {
        font-size: 17px;
    }

    .latest-text p {
        font-size: 12px;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-up-links li {
        font-size: 13px;
    }

    .footer-middle .faculty-list-1 {
        width: 100%;
    }

}

.serviceDetailsArea {
    padding: 3rem 0;
}

.detailsTopWrap,
.detailsTopContent {
    margin-bottom: 1.5rem;
}

.detailsTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detailsTitleSm {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.detailsTitleSm span {
    margin-right: 0.5rem;
}

.programOutcomeItem {
    text-align: center;
}

.programOutcomeItem img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.detailsContentBox {
    margin-bottom: 1rem;
}

.detailsMiddleThumb img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.laboratoriesSection {
    padding: 3rem 0;
}

.laboratoriesTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.laboratoriesContainer {
    display: flex;
    justify-content: space-around;
}

.laboratoryCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
}

.laboratoryCard img {
    width: 150px;
    height: 150px;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.laboratoryCardContent {
    max-width: 300px;
}

.laboratoryCardContent h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.laboratoryCardContent ul {
    padding-left: 1rem;
    list-style: disc;
}

/* about */
.it-event-2-area:hover .it-event-2-thumb img {
    transform: rotate(0) scale(1.03) !important;
}

.it-sv-details-content-box {
    border-left: 3px solid var(--web-color);
}

.about-1 .it-sv-details-content-box {
    background: var(--web-white);
}

.it-sv-details-top-thumb img {
    height: 270px !important;
}

.it-sv-details-top-thumb {
    position: relative;
    border: 7px solid var(--web-color);
    transition: all 0.5s;
}

.it-sv-details-top-wrap:hover .it-sv-details-top-thumb {
    border: 7px solid var(--web-orange);
    transform: translate(-5px) scale(1.05);

}

.it-sv-details-top-thumb::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 7px;
    width: 50%;
    margin-top: -7px;
    background: #dadada;
}

.it-sv-details-top-thumb::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 7px;
    width: 50%;
    margin-bottom: -7px;
    background: #dadada;
}

.it-feature-item {
    border-radius: 8px;
    overflow: hidden;
}

.it-feature-item:hover:after {
    background: var(--web-orange) !important;
}

.leader-main {
    overflow: hidden;
    border-top-left-radius: 5vmax !important;
    border-top-right-radius: 5vmax !important;
    position: relative;
}

.leader-main::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(#272727cb,#00000031); */
}

.dean-main {
    overflow: hidden;
    border-bottom-left-radius: 5vmax !important;
    border-bottom-right-radius: 5vmax !important;
    position: relative;
}

.dean-main::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(#00000031,#000000cb); */
}

.it-team-3-content {
    min-height: 152px;
    background: #212529 !important;
}

@media screen and (max-width:768px) {
    .it-team-3-content {
        min-height: auto !important;
    }

}

.leadrship {
    margin-top: -2vmax;

    overflow: hidden !important;
}

.it-category-item,
.it-feature-3-item {
    background: var(--web-grey-white) !important;
    border-radius: 8px !important;
    transition: all 0.5s ease-in-out !important;
}

.it-category-icon span {
    transition: all 0.5s ease-in-out !important;

}

.it-category-item:hover {
    background: var(--web-color) !important;
}

.it-category-item:hover .it-category-icon span {
    background: var(--web-grey-white) !important;
}

.it-category-item:hover .it-category-icon span i {
    color: var(--web-orange) !important;
}

.it-feature-3-item:hover {
    background: var(--web-color) !important;
}

.it-feature-3-item:hover .it-feature-3-icon span {
    background: var(--web-grey-white) !important;
}

.it-feature-3-item:hover .it-feature-3-icon span i {
    color: var(--web-orange) !important;
}

.it-feature-3-item:hover .it-feature-3-content h4 {
    color: var(--web-white);
}

.it-feature-3-item:hover .it-feature-3-content p {
    color: var(--web-white);
}

.it-btn-theme-sm {
    background: var(--web-orange) !important;
}

.it-category-icon span {
    background: var(--web-color) !important;
}

.it-feature-3-icon span {
    background: var(--web-color) !important;
}

.faculty-info {
    padding: 3vmax 2vmax;
}

.faculty-info p {
    text-align: justify;
}

.even {
    background: #EAEEF6 !important;
    border-bottom-left-radius: 8vmax;
    border-bottom-right-radius: 8vmax;
    box-shadow: 0 0 10px #9e9e9e !important;
}



.history-card {
    background: #1566a5;
    position: relative;
    border-top: 5px solid var(--web-orange);
    min-height: 180px;
    transition: all 0.5s;
    border-radius: 8px;
}

.history-card:hover .history-card-heading {
    border: 6px solid var(--web-orange);
}

.history-card:hover {
    background: var(--web-color);
    box-shadow: 0 0 10px var(--web-color);
    transform: translateY(-5px);
}

.history-card-heading {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--web-orange);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 6px solid var(--web-white);
    transition: all 0.5s;
}

.history-card h4 {
    color: var(--web-white);
    margin-top: 20px;
    position: absolute;
    bottom: 10%;
    font-size: 22px;
}

.history-card h5 {
    color: var(--web-whit);
}

.it-career-item {
    padding: 30px !important;
    background: var(--web-color) !important;
}

.phd-div {
    background: bisque !important;
}

.phd-img {
    overflow: hidden;
    border-radius: 12px;
}

.phd-img:hover.phd-img img {
    transform: scale(1.1);
}

.it-blog-item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 6px #000 !important;
}

.it-blog-item:hover .it-blog-thumb img {
    transform: scale(1.06) rotate(0) !important;
}

.it-funfact-5-item {
    transition: all 0.5s;
    border: 2px solid transparent;
}

.it-funfact-5-item:hover {
    transform: translateY(-5px) !important;
    border: 2px solid rgba(128, 128, 128, 0.596);
    box-shadow: 0 0 10px var(--web-grey-white);
}

.nav-link {
    padding: 1px 10px !important;
}


.nav-link:hover>a {
    color: var(--web-orange) !important;
}

.nav-link li:hover>a {
    color: var(--web-orange) !important;
}

.nav-link2 .active {
    color: var(--web-orange) !important;
}

.it-menu-mobile ul li:hover>a {
    color: var(--web-orange) !important;
}

.nav-link2 .submenu li:hover {
    color: var(--web-orange) !important;
}

.it-header-2-main-menu ul li:hover.has-dropdown::after {
    color: var(--web-color) !important;
}

.footer {
    overflow: hidden;
    /* border-top-left-radius:5vmax ;
    border-top-right-radius:5vmax ; */
    background: #f2f2f2;
    border-top: 1px solid gray;
}

.it-career-thumb img {
    opacity: 0.7;
    overflow: hidden;
}

.it-feature-icon {
    background: transparent !important;
}

.about-1 {
    background: #eeeeee;
    padding: 25px !important;
    border-radius: 25px;
    box-shadow: 0px 10px 20px #00000029;
}

.about-2 {
    background: var(--web-white);
    padding: 25px !important;
    border-radius: 25px;
    box-shadow: 0px 10px 20px #00000029;
}

.it-career-bg {
    background: transparent !important;
}

.service-car-items {
    padding: auto 10px !important;
}

.service-box {
    background: #fff;
    padding: 5px 7px !important;
    border-left: 2px solid var(--web-color);
}

.it-gallery {
    transition: all 0.4s;
    overflow: hidden;
    border-radius: 8px;
}

.it-gallery:hover {
    /* transform: scale(1.01) !important; */
    box-shadow: 0 0 10px #000000c2;
}

.it-gallery:hover img {
    transform: scale(1.08) !important;
}

.it-contact__icon i {
    color: var(--web-color) !important;
}

.it-footer-social a {
    color: var(--web-color) !important;
}

.it-btn {
    background: var(--web-color) !important;
}

.news-description-ellips {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#preloader {
    height: 100vh !important;
    width: 100vw !important;
}

.preloader-img {
    max-width: 200px !important;

}

.accordion-button {
    background: var(--web-color) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: var(--web-grey-white) !important;

}

.accordion-button:hover {
    background: skyblue !important;
    color: #000 !important;
}

.accordion-button.collapsed {
    background: white !important;
    color: #000 !important;

}

.accordion-button.collapsed:hover {
    color: #000 !important;
    background: skyblue !important;
}

.news-card {
    min-height: 445px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 5px #00000029;
    background: #ffffff;
}

.news-card:hover {
    background: #eeeeee;
}

.news-card:hover .news-img-box::before {
    height: 100%;
    width: 100%;
}

.news-card:hover .news-hover-btn {
    top: 50%;
    opacity: 1;
}

.news-hover-btn {
    background: var(--web-orange) !important;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    opacity: 0;
}

.news-img-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
    transition: all 0.5s;
}

.news-img-box {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0.5px #525252;
}

.news-info-box h4 {
    color: rgb(70, 30, 70) !important;
}

.club-table.tbody,
td,
tfoot,
th,
thead,
tr {
    border-width: 1px !important;
}

.nav-tabs {
    border: none !important;
}

.nav-tabs .nav-link.active {
    background: var(--web-color) !important;
    border: none !important;
    /* border-radius: 20px !important; */
    color: #fff !important;
    opacity: 1 !important;
}

/* .nav-tabs .nav-link:hover{
    border: none !important;
    background: var(--web-color) !important;
    border-radius: 20px !important;
    color: #fff !important;
    opacity: 1 !important;
} */
.nav-tabs .nav-link {
    border: none !important;
    background: #dadada !important;
    /* border-radius: 20px !important; */
    padding: 5px 15px !important;
    color: #000000 !important;
    margin: 20px 3px;
}

.placement-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.placement-carousel .img-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100px !important;
    width: 100px !important;
    margin: 0 20px !important;
    /* animation: wave 5s infinite ease-in-out;
    animation-delay: calc(var(--delay) * 1000s) !important; */
}


@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Apply custom property --delay based on data-delay attribute */
.placement-carousel .img-box {
    --delay: attr(data-delay) !important;
}

/* For creating the wave effect with different timings */

.it-category-icon span::after {
    border: none !important;
}

.it-header-2-main-menu ul li>.submenu {
    padding: 10px 20px !important;
}

.about-us-dropdown.has-dropdown>.about-us-submenu {
    gap: 0px !important;
}

.it-choose-left {
    margin-bottom: 0 !important;
}

@media screen and (max-width:768px) {
    .it-funfact-5-item {
        padding: 20px 4px !important;
        border-radius: 5px !important;
        background-color: var(--it-common-white);
    }

    .it-funfact-5-number span {
        font-size: 20px !important;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    .it-funfact-5-icon {
        height: 40px !important;
        width: 40px !important;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
    }

    .it-funfact-5-content span {
        font-size: 12px !important;
        font-weight: 500;
        text-transform: capitalize;
        color: #4D5756;
    }

}

.Latest-News {
    /* background: linear-gradient(45deg,#829B85,#B5B583); */
    background: #EAEEF6;
    border-top: 2px solid rgb(198, 198, 198);
}

.student-club-heading {
    border-bottom: 2px solid gray;
}

.best-university .img-box {
    border-radius: 110px;
    overflow: hidden;
    box-shadow: 0 3px 6px #636363;
}

.best-university .img-box-2 {
    margin-top: 60px;
}

.best-university .shape-img {
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
}

.circle-btn {
    background: var(--web-orange);
    height: 60px;
    width: 220px;
    border-radius: 30px;
    transition: all 0.5s;
}

.circle-btn:hover {
    box-shadow: 0 2px 4px #acacac;
}

.circle-btn:hover .btn-icon {
    box-shadow: 0 2px 2px var(--web-color);
}

.circle-btn:hover .btn-icon i {
    transform: rotate(-45deg);
}

.circle-btn .btn-text {
    color: var(--web-grey-white);
    font-weight: 700;
    text-transform: uppercase;
}

.circle-btn .btn-icon {
    background: var(--web-color);
    color: var(--web-grey-white);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.5s;
}

.circle-btn .btn-icon i {
    transition: all 0.5s;
}

.course-div .course-header h4 {
    padding: 5px 0px;
}

.course-div .course-heading h4 {
    padding: 5px 0px;
}

.course-div .sub_courses {
    display: block;
    border-bottom: 2px solid #497597;
}

.mu_course {
    border-top: 2px solid #dadada;
}

.mu_course .tab-content {
    background: var(--web-white) !important;
}

.placement-record {
    background: #eeeeee;
}



.item .row {
    max-width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
}

.img_box {
    overflow: hidden;
    border-radius: 25px;
    height: 100% !important;
    width: 100%;
}

.img_box img {
    height: 100% !important;
    width: 100% !important;
    cursor: pointer;
    transition: all 0.5s;
}

.img_box:hover img {
    transform: scale(1.1);
}

.box-text {
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 111;
    transform: translate(0%, -5%);
    color: white;
}

.button_box p {
    opacity: 1;
    transition: all 0.5s;
}

.button_box button {
    transition: all 0.5s;
    opacity: 0;
}

.img_box:hover .button_box p {
    transform: translateY(-30px);
    opacity: 0;
}

.img_box:hover .button_box button {
    transform: translateY(-40px) !important;
    opacity: 1;
}

.carousel-orange-buttons {
    width: max-content;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 12px !important;
    overflow: visible;
}

.carousel-orange-buttons button {
    padding: 12px 22px;
    color: #000000;
    font-weight: 600;
}

.carousel-orange-buttons .active {
    background: var(--web-orange);
    font-weight: 600;
    transform: scale(1.2);
    color: #ffffff;
    border-radius: 8px;
}

.course-heading-home h1 {
    font-family: Oswald !important;
    font-weight: 600 !important;
}

.course-heading-home span {
    color: rgb(255, 111, 0) !important;
}

.course-link-box {
    box-shadow: 0 4px 4px #dadada;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
    color: #dadada !important;
}

.course-link-box:hover {
    background: #f8f8f8;
    border-bottom: 2px solid var(--web-color);
    transform: translateY(-5px) scale(1.05);
}

.course-link-box:hover h6 {
    color: #000 !important;
}

.course-link-box img {
    height: 50px !important;
    width: 50px !important;
}

.course-link-box h6 {
    font-size: 13px;
    color: #515151 !important;
    transition: all 0.5s;
}

@media screen and (max-width:430px) {
    .carousel-orange-buttons {
        justify-content: space-between;
        width: 100%;
        padding: 0 4px;
    }

    .carousel-orange-buttons button {
        padding: 10px 7px !important;
    }
}

.it-breadcrumb-bg::after {
    background: linear-gradient(#000000ce, #000000da) !important;
}

.faculty-card {
    float: left;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.faculty-card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 300px;
    color: #03446A;
    text-align: center;
    font-size: 60px;
    border-radius: 12px;
    overflow: hidden;
    backface-visibility: hidden;
}

.back {
    background: #0000009e;
    color: white;
    transform: rotateY(180deg);
}

.counter-box {
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    padding: 20px 0 !important;
    background: #ededed;
}

.counter-box-main {
    background: #bdbdbd;
    border-radius: 20px;
    border: 1px solid black;
    /* box-shadow: 0 3px 5px #5a6fce; */
    padding: 50px 0 !important;
}

/* .counter-box-1{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.counter-box-2{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.counter-box-3{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.counter-box-4{
      border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  } */
.counter-box img,
.counter-box-main img {
    height: 50px;
    width: 50px;
}

.counter-box .count-text,
.counter-box-main .count-text {
    color: var(--web-color);
    font-weight: 700;
    font-size: 30px;
}

.counter-div:hover .why_mu {
    box-shadow: 0 0 10px rgba(148, 79, 29, 0.917);
    border: 3px solid var(--web-orange);
    height: 155px;
    width: 155px;
}

.counter-div .why_mu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--web-color);
    transition: all 0.5s;
}

.counter-div .why_mu {
    color: var(--web-white);
    font-size: 26px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

.counter-div .why_mu span {
    margin-top: 4px;
    color: var(--web-orange);
    font-size: 40px;
    font-family: 'Oswald';
}

.counter-heading h1 {
    font-family: 'Oswald' !important;
    font-weight: 600;
    font-size: 35px;
}

.ski-button {
    padding: 10px 22px;
    border: none;
    /* border-radius: 5px; */
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--web-color);
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--web-color);
}

.ski-button:hover {
    color: #ffffff !important;
    transform: scale(1.1);
    outline: 2px solid var(--web-color);
    box-shadow: 4px 5px 17px -4px var(--web-color);
}

.ski-button.active {
    color: #ffffff !important;
    transform: scale(1.1);
    outline: 2px solid var(--web-color);
    box-shadow: 4px 5px 17px -4px var(--web-color);
    background: var(--web-color);
}

.ski-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--web-color);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.ski-button:hover::before {
    width: 250%;
}

.alumini-student {
    /* background: #eeeeee; */
    border-top: 2px solid rgba(128, 128, 128, 0.573);
    padding: 40px 5px !important;
}

.alumini-heading h5 {
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #7f7878 !important;
}

.alumini-heading h1 {
    font-weight: 800 !important;
    font-size: 34px !important;
    font-family: Poppins !important;
    text-align: start;
}

.alumini-heading h1 span {
    font-family: Lilita One !important;
    font-size: 40px;
    color: var(--web-color);
}

.alumini-card {
    max-height: 400px !important;
    border-radius: 20px;
    overflow: hidden;
    background: var(--web-grey-white);
    box-shadow: 0 3px 5px #bababa;
}

.line-round {
    position: absolute;
    width: 130px;
    height: 80px !important;
    top: 20px;
    left: 80px;
    z-index: -1;
}

.width_50 {
    width: 50%;
}

@media screen and (max-width:768px) {
    .width_50 {
        width: 100%;
    }

}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 991px) {
    .alumini-heading i {
        display: none !important;
    }

}

.demoPage {
    background: #bababa;
}

.alumini-heading i {
    font-size: 8vmax;
    transform: rotate(-20deg);
    margin-left: -40px;
    z-index: -1;
}

.footer-btn {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 0.5em;
    margin: 0 6px;
    border-radius: 12px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .footer-btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .footer-btn i {
    transition: transform 0.5s;
    font-size: 22px;
  }
  
  .footer-btn:hover i {
    transform: scale(0.9);
    color: var(--web-orange);
  }
  .flipbook-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
  
  .flipbook {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
  }
  
  .demoPage {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .flipbook {
      max-width: 100%;
      max-height: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .flipbook {
      max-width: 100%;
      max-height: 300px;
    }
  }
  /* .page {
    width: 100%;
    height: 100%;
    background: white;
  }
  
  .page-content {
    padding: 20px;
  }
  
  .page-cover {
    background-color: #f0f0f0;
  }
  
  .page-header {
    font-size: 24px;
  }
  
  .page-footer {
    text-align: center;
    font-size: 16px;
    color: gray;
  }
   */
  